.custom-div {
    background-color: rgb(1, 75, 1);
    color: white;
    height: 35px;
    padding-left: 32px;
    padding-right: 24px;
}

.navbar {
    padding-left: 4px;
    padding-right: 20px;
}

.custom-color {
    background-color: rgb(248, 236, 230);
}

.btn-custom {
    background-color: rgb(1, 75, 1);
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: rgb(1, 75, 1);
}

.search-bar {
    border-radius: 30px;
    padding: 0.5rem 1rem;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease;
    width: 300px;
}

.search-bar:focus {
    border-color: #198754;
    box-shadow: 0 0 5px rgba(25, 135, 84, 0.5);
}

.nav-color {
    background-color: white;
}

.navbar-nav .nav-link {
    color: black
}

.navbar-nav .nav-link:hover {
    color: #6c6c6c;
}


.nav-color .dropdown-item:hover {
    background-color: #f7f0f0;
}

.navbar-brand img {
    height: 50px;
}

.heading-1 {
    font-size: 28px;
    font-weight: 700;
    color: rgb(1, 75, 1);
}

.text-container p {
    font-size: 16px;
    color: #555;
}

.btn-custom-2 {
    background-color: rgb(1, 75, 1);
    color: white;
    width: 150px;
    border-radius: 30px;
    padding: 10px 10px;
    border-color: rgb(1, 75, 1);
    margin-top: 20px;
}

.btn-custom-2:hover {
    background-color: rgb(72, 72, 72);
    color: white;
}

.image-container img {
    width: 50%;           
    max-width: 600px;     
    max-height: 800px;    
    border-radius: 20px;  
}

.btn-custom-3 {
    background-color: #f3f2f2;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}

.btn-custom-3:hover {
    background-color: #bcbaba;
}

.dropdown-section {
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 20px;
}

.dropdown-menu {
    border-radius: 15px;
}

.btn-custom-4 {
    background-color: #FFF;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    border-color: black;
    border: 1;
}

.btn-custom-4:hover {
    background-color: rgb(186, 186, 186);
}

.heading-2 {
    font-size: 28px;
    font-weight: 700;
    color: black;
    padding-left: 26px;
}

.heading-3 {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.btn-cart {
    background-color: #FFF;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    border-color: black;
    border: 1;
}

.star-icon{
    color: rgb(21, 148, 21);
}

.image-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: #f6f6f6;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.card-price {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.card-text {
    font-size: 11px;
    font-weight: 600;
    color: #555;
}

.icon-container  {
    background-color: white;
    top: 10px;
    right: 10px;
}

.icon-container i:hover  {
    color: #ff0000;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
